.top{
    background-color: rgb(179, 54, 96);
}

.title{
    position: relative;
    left: 690px;
}

.name{
    position: relative;
    left: 700px;
}

.background{
        background-color: grey;
}

